<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}GardeTonSmile{% endblock %}</title>
    {% block stylesheets %}

    {{ encore_entry_link_tags('app') }}

    {% endblock %}

</head>

<body>

    {% include "_partials/_flash_messages.html.twig" %}


    {% block header %}
        {% include '_partials/_header.html.twig' %}
    {% endblock %}

    <main role="main" class="container">
        {% block body %}
        {% endblock %}

    {% block footer %}
        {% include '_partials/_footer.html.twig' %}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}

</body>

</html>