{% extends 'base.html.twig' %}

{% block title %}Nouvelle Publication{% endblock %}

{% block body %}
    <h1>Création D'une Publication</h1>

    {% include "_partials/_form.html.twig" %}
{% endblock %}