{% extends 'base.html.twig' %}

{% block title %}Modification de la Publication #{{publication.id}}{% endblock %}

{% block body %}
    <h1>Modification de la Publication #{{publication.id}}</h1>

    {% include "_partials/_form.html.twig" with { submitButtonText: 'Modifier'} %}

{% endblock %}