{% extends 'base.html.twig' %}

{% block title %}Changer de Mot de passe{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="mt-5 mb-3 text-center">Changer de Mot de passe</h1>

            {{form_start(form) }}
                {{form_widget(form) }}

                <button type="submit" class="btn btn-primary btn-lg btn-block">
                Mettre le mot de passe a jour
                </button>
            {{form_end(form) }}

        </div>
    </div>

{% endblock %}
